#player1
  position: absolute
  top: 25%
  left: 40%
  height: 100px

#player2
  position: absolute
  top: 25%
  right: 40%
  height: 100px

@media screen and (max-width: 628px)
  h2
    font-size: 14px 

@media screen and (max-width: 420px)
  h2
    font-size: 12px

@media screen and (max-width: 388px)
  h2
    font-size: 10px

@media screen and (max-width: 355px)
  h2
    font-size: 8px

@media screen and (max-width: 323px)
  h2
    font-size: 8px
    orientation: landscape
